.content {

    .title-wrapper {
        background-color: $color-primary;
        padding: 30px 50px;
    }

    .gallery {
        padding: 30px;
        margin: 20px;
        flex-wrap: wrap;

        .img-wrapper {
            height: 200px;
            width: calc(25% - 40px);
            margin: 20px;
        }

    }
}
