body {
width: 100%;
height: 100%;
background-image: linear-gradient(136deg, rgba(255,255,255,0.03091032608695652) 0%, #b8c9e5 100%);}

img {
  max-width: 100%; }

a {
  text-decoration: none; }
  main {
      padding: 20px 40px;
  }

ul {
  margin: 0;
  padding: 0; }
