.navigation{text-align: right;
padding: 20px;}
li {
    display: inline-block;}
    ul
    li { margin-right: 40px; }
    a { display: block;
      font-size: 20px;
letter-spacing: -1px;
color: rgb(70,65,94);
font-family: "Poppins";
text-align: center;}
