main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 20px;
  margin: 0px; }

section .text h1 {
  width: 840px;
  height: 180px;
  font-size: 55px;
  letter-spacing: -1px;
  color: #444f5d;
  font-family: "Poppins"; }
